---

# **Moore MKW - Goods Transfer Anomaly Detection**
### **A pilot project using Baks data**

### Moni IT & Consultancy

### Gert Wijnalda, M.M.J.D.T. Voeten

---

---

# **1.0 - Project Goal**

---

- Check whether transport data contains anomalies
- Check the transport company as well as the logistics services provider

---

# **2.0 - Dataset Description**

---

## Data Overview

This dataset contains 38551 transport records from Baks Logistiek spanning from 2010 to August 2025, encompassing both historical transactions and planned future shipments. The data represents comprehensive logistics operations including loading, transportation, and delivery of goods across multiple European countries.

## Business Context

**Primary Use Case**: Fraud detection and audit analysis for transport logistics operations
**Target Audience**: Auditing department of accounting firm
**Analysis Goal**: Identify anomalous patterns that may indicate fraudulent activities, billing irregularities, or operational misconduct

## Data Structure

- **Records**: 38,551 transport shipments
- **Original Features**: 136 variables
- **Processed Features**: 70 variables (after cleaning and feature engineering)
- **Memory Footprint**: Optimized from 58.84 MB to 54.06 MB

## Key Data Categories

### 1. **Transaction Identifiers**
- `Dossiernr`: Unique shipment identifier (34,735 unique values)
- `Volgnr`: Sequence number for multi-part shipments
- `Referentie`: External reference numbers

### 2. **Geographic & Route Data**
- **Countries**: Netherlands (primary), Belgium, Germany, France, Italy, Spain, Austria, Sweden, Denmark
- **Coordinates**: GPS coordinates for loading and unloading addresses
- **Calculated Distance**: Haversine distance between coordinates
- **Reported Distance**: Official route distance from system

### 3. **Cargo & Weight Information**
- **Products**: Primarily dairy products (milk powder, whey protein, cream)
- **Weight Measurements**: Loading weight, unloading weight, calculated weight
- **Volume**: Cargo volume and density measurements
- **ADR Classification**: Hazardous materials designation

### 4. **Time & Duration Metrics**
- **Loading Operations**: Start/end times and duration
- **Unloading Operations**: Start/end times and duration  
- **Transport Times**: Planned vs actual delivery times
- **Financial Dates**: Invoice and processing dates

### 5. **Financial Data**
- **Base Pricing**: Unit prices, fixed prices, total amounts
- **Additional Costs**: Fuel surcharges, extra fees, toll charges
- **Currency**: Euro (EUR) denominated
- **Cost Components**: Detailed breakdown of all charges

## Fraud-Relevant Anomaly Indicators

### Engineered Features for Anomaly Detection
1. **`afwijking_gewicht`**: Weight discrepancy between loading and unloading
2. **`afwijking_afstand`**: Distance variance between reported and calculated routes  
3. **`afwijking_vracht`**: Shipment irregularity flags
4. **Route Efficiency**: Deviation from optimal routing

### Potential Fraud Patterns
- **Weight Manipulation**: Systematic over/under-reporting of cargo weights
- **Route Inflation**: Reporting longer distances than actually traveled
- **Duplicate Billing**: Multiple charges for same route/service
- **Ghost Shipments**: Transactions without corresponding physical transport
- **Price Manipulation**: Unusual pricing patterns relative to distance/weight
- **Time Fraud**: Inflated loading/unloading durations

## Data Quality Assessment

### Completeness Issues
- **High Missing Data**: Internal comments (99.8%), extra fuel costs (90.7%)
- **Moderate Missing**: Product descriptions (56.2%), unit prices (57.7%)
- **Core Metrics**: Transport fundamentals generally complete (>90%)

### Data Integrity Concerns
- **Extreme Outliers**: Maximum calculated weight of 35,000 tons (likely error)
- **Duration Anomalies**: Loading times up to 12+ days
- **Negative Values**: Financial corrections or refunds present
- **Temporal Inconsistencies**: Some dates span 15+ years

### Geographic Coverage
- **Primary Markets**: Netherlands (domestic), Germany, Belgium
- **Secondary Markets**: France, Italy, Scandinavia
- **Route Types**: Short-haul European distribution network

## Audit Relevance

This dataset is particularly valuable for fraud detection because:
1. **High Transaction Volume**: Large sample size enables statistical anomaly detection
2. **Multiple Verification Points**: Cross-validation possible between weight, distance, time, and cost
3. **Geographic Validation**: GPS coordinates enable route verification
4. **Financial Completeness**: Detailed cost breakdowns support billing audit
5. **Temporal Tracking**: Time stamps enable process validation

The combination of physical measurements (weight, distance), operational metrics (time, route), and financial data (pricing, costs) creates multiple fraud detection opportunities through clustering analysis.


| Feature name                     | Category   | Description                                                                       |
|----------------------------------|------------|-----------------------------------------------------------------------------------|
| Dossiernr                        | Reference  | File number (reference ID for a shipment/case)                                    |
| Volgnr                           | Excluded   | Sequence number (internal ordering, not useful)                                   |
| Referentie                       | Excluded   | Generic reference field (duplicate, not useful)                                   |
| Zendingsoort                     | Included   | Type of shipment                                                                  |
| Klaar voor factuur                | Included   | Ready for invoice (boolean/flag)                                                  |
| Totaalbedrag                     | Included   | Total amount (€)                                                                  |
| Extra kosten bedrag               | Included   | Extra cost amount (€)                                                             |
| Brandstoftoesl. extra kosten      | Included   | Fuel surcharge extra costs (€)                                                    |
| Brandstoftoeslag bedrag           | Included   | Fuel surcharge amount (€)                                                         |
| Bedrag excl.                     | Included   | Amount excluding tax (€)                                                          |
| Eenheidsprijs                    | Included   | Unit price (€ per unit)                                                           |
| Vaste prijs                       | Included   | Fixed price (€)                                                                   |
| % Droge stof                      | Included   | Percentage of dry matter                                                          |
| Ph waarde                         | Included   | pH value of goods                                                                 |
| Eiwit                            | Excluded   | Protein content (not used)                                                        |
| Dossierreferentie                 | Reference  | Case reference number                                                             |
| Laadreferentie                    | Reference  | Loading reference number                                                          |
| CMR nr.                           | Reference  | CMR number (official transport document)                                          |
| Ritnr lossen                      | Reference  | Trip number for unloading                                                         |
| Laadgewicht                       | Included   | Load weight (kg)                                                                  |
| Losgewicht                        | Included   | Unload weight (kg)                                                                |
| Opdrachtgever                     | Included   | Client / customer                                                                 |
| Laadnaam                          | Included   | Loading name (site/party name)                                                    |
| Laadplaats                        | Included   | Loading place (city/location)                                                     |
| Laaddatum                         | Included   | Loading date                                                                      |
| Laadtijd                          | Included   | Loading time                                                                      |
| Laadpostcode                      | Excluded   | Loading postal code (not used)                                                    |
| Laadland                          | Included   | Loading country                                                                   |
| Losnaam                           | Included   | Unloading name (site/party name)                                                  |
| Losplaats                         | Included   | Unloading place (city/location)                                                   |
| Losdatum                          | Included   | Unloading date                                                                    |
| Lostijd                           | Included   | Unloading time                                                                    |
| Lospostcode                       | Excluded   | Unloading postal code (not used)                                                  |
| Losland                           | Included   | Unloading country                                                                 |
| Aantal                            | Included   | Quantity (number of units)                                                        |
| Eenheid                           | Included   | Unit (e.g., kg, pallet, liter)                                                    |
| CMR bij factuur                   | Included   | CMR with invoice (flag)                                                           |
| CMR ontvangen                     | Included   | CMR received (flag)                                                               |
| Afstand                           | Included   | Distance (km)                                                                     |
| Dichtheid                         | Excluded   | Density (not used)                                                                |
| Product                           | Included   | Product code/name                                                                 |
| Interne opmerkingen               | Included   | Internal remarks                                                                  |
| Chauffeur lossen                  | Excluded   | Driver unloading info (not used)                                                  |
| Ordersoort                        | Excluded   | Order type (not used)                                                             |
| Plangroep                         | Excluded   | Planning group (not used)                                                         |
| Gewicht                           | Included   | Weight (kg)                                                                       |
| Tariefaantal                      | Included   | Tariff quantity                                                                   |
| Afwijkend tariefaantal            | Excluded   | Deviating tariff quantity (not used)                                              |
| Tariefeenheid                     | Included   | Tariff unit (e.g., per km, per ton)                                               |
| CMR printen                       | Reference  | CMR print status                                                                  |
| Gecontroleerd                     | Reference  | Checked/verified flag                                                             |
| Factuurmethode                    | Reference  | Invoicing method                                                                  |
| Status                            | Included   | Shipment status                                                                   |
| Factuurcode                       | Reference  | Invoice code                                                                      |
| Crediteur laden                   | Reference  | Creditor loading                                                                 |
| Truck lossen                      | Reference  | Truck unloading reference                                                         |
| Trailer lossen                    | Reference  | Trailer unloading reference                                                       |
| Crediteur lossen                  | Reference  | Creditor unloading                                                               |
| Debiteur                          | Excluded   | Debtor (not used)                                                                 |
| Departement                       | Reference  | Department reference                                                              |
| Week                              | Excluded   | Week number (not used)                                                            |
| Factuuropmerkingen                | Excluded   | Invoice remarks (not used)                                                        |
| Losadres1                         | Reference  | Unloading address line 1                                                          |
| Losadres2                         | Reference  | Unloading address line 2                                                          |
| Laadadres2                        | Reference  | Loading address line 2                                                            |
| Factuurnr                         | Reference  | Invoice number                                                                    |
| Contactpersoon                    | Reference  | Contact person                                                                    |
| # afwijkingen                      | Included   | Number of deviations                                                              |
| Laadopmerkingen                   | Included   | Loading remarks                                                                   |
| Losopmerkingen                    | Included   | Unloading remarks                                                                 |
| Coördinaten laadadres handmatig   | Excluded   | Manual coordinates loading address (not used)                                     |
| Coördinaten losadres handmatig    | Excluded   | Manual coordinates unloading address (not used)                                   |
| Geochecksum laadadres             | Excluded   | Geochecksum loading address (not used)                                            |
| Geochecksum losadres              | Excluded   | Geochecksum unloading address (not used)                                          |
| Standaard opmerking               | Excluded   | Standard remark (not used)                                                        |
| Chauffeur laadinfo                | Excluded   | Driver loading info (not used)                                                    |
| Laadinfo chauffeur                | Included   | Loading info for driver                                                           |
| Losinfo chauffeur                 | Included   | Unloading info for driver                                                         |
| Temperatuur                       | Excluded   | Temperature (not used)                                                            |
| Kosten                            | Included   | Costs (€)                                                                         |
| Legnr                             | Reference  | Ledger number (accounting reference)                                              |
| Temp. t/m                         | Excluded   | Temperature until (not used)                                                      |
| Aangemaakt op                     | Included   | Created on (timestamp)                                                            |
| TariffUnitAmountRO                | Excluded   | Tariff unit amount RO (not used)                                                  |
| Mauttoeslag afstand               | Excluded   | Toll surcharge distance (not used)                                                |
| Gepl. laaddatum/tijd              | Included   | Planned loading date/time                                                         |
| Geen autotarief                   | Excluded   | No auto tariff (not used)                                                         |
| Handm.                            | Excluded   | Manual entry (not used)                                                           |
| Mauttoeslag bedrag                | Excluded   | Toll surcharge amount (not used)                                                  |
| Tol-afstand                       | Excluded   | Toll distance (not used)                                                          |
| EDI referentie                    | Reference  | EDI reference                                                                     |
| Gepl. lostijd                     | Excluded   | Planned unloading time (not used)                                                 |
| Gepl. losdatum/tijd               | Included   | Planned unloading date/time                                                       |
| Gepl. laadtijd                    | Excluded   | Planned loading time (not used)                                                   |
| Brandstoftoeslag percentage       | Included   | Fuel surcharge percentage                                                         |
| Laadtijd t/m                      | Excluded   | Loading time until (not used)                                                     |
| Brandstoftoeslag handmatig        | Excluded   | Fuel surcharge manual (not used)                                                  |
| Breedtegraad laadadres            | Excluded   | Latitude loading address (not used)                                               |
| Breedtegraad losadres             | Excluded   | Latitude unloading address (not used)                                             |
| Lengtegraad laadadres             | Excluded   | Longitude loading address (not used)                                              |
| Lengtegraad losadres              | Excluded   | Longitude unloading address (not used)                                            |
| Lostijd t/m                       | Excluded   | Unloading time until (not used)                                                   |
| Artikel merken/nrs.               | Included   | Article marks/numbers                                                             |
| Financiële datum                  | Included   | Financial date (accounting)                                                       |
| Cargonr                           | Reference  | Cargo number reference                                                            |
| Chauffeur losinfo                 | Excluded   | Driver unloading info (not used)                                                  |
| Neutraal laadadres                | Excluded   | Neutral loading address (not used)                                                |
| Meerdere zendingen                | Excluded   | Multiple shipments (not used)                                                     |
| Productomschrijving               | Included   | Product description                                                               |
| ADR-zending                       | Included   | ADR shipment (hazardous goods indicator)                                          |
| Afleverstatus                     | Included   | Delivery status                                                                   |
| # Manco                           | Excluded   | Number of shortages (not used)                                                    |
| # Beschadigd                      | Excluded   | Number of damaged goods (not used)                                                |
| # Geweigerd                       | Excluded   | Number of refused goods (not used)                                                |
| Afleverstatus opm.                | Excluded   | Delivery status remarks (not used)                                                |
| Opvolgtype                        | Excluded   | Follow-up type (not used)                                                         |
| Afleverpoging                     | Excluded   | Delivery attempt (not used)                                                       |
| Oorspr. zendingnr                 | Reference  | Original shipment number                                                          |
| Opvolgen                          | Excluded   | Follow-up (not used)                                                              |
| Goederentariefmethode             | Excluded   | Goods tariff method (not used)                                                    |
| Routeberek. resultaat             | Included   | Route calculation result                                                          |
| Kritische nippelklant             | Excluded   | Critical nipple customer (internal code, not used)                                |
| CIP Lossen                        | Included   | CIP unloading (time/cost checkpoint)                                              |
| CIP Laden                         | Included   | CIP loading (time/cost checkpoint)                                                |
| Nippelklant                       | Excluded   | Nipple customer (internal code, not used)                                         |
| Duur lossen                       | Included   | Duration unloading                                                                |
| Duur laden                        | Included   | Duration loading                                                                  |
| Calculatie gewicht                | Included   | Calculation weight (used for billing)                                             |
| Eindtijd lossen                   | Excluded   | End time unloading (not used)                                                     |
| Einddatum laden                   | Excluded   | End date loading (not used)                                                       |
| Eindtijd laden                    | Excluded   | End time loading (not used)                                                       |
| Einddatum lossen                  | Excluded   | End date unloading (not used)                                                     |
| Startdatum lossen                 | Excluded   | Start date unloading (not used)                                                   |
| Starttijd lossen                  | Excluded   | Start time unloading (not used)                                                   |
| Startdatum laden                  | Excluded   | Start date loading (not used)                                                     |
| Starttijd laden                   | Excluded   | Start time loading (not used)                                                     |

---

# **3.0 - Methodology**

---

---

# **4.0 - Imports & Preliminaries**

---

In [1]:
%pip install -r "requirements.txt"

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 2)) (2.2.3)
Collecting numpy<2 (from -r requirements.txt (line 3))
  Downloading numpy-1.26.4.tar.gz (15.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.8/15.8 MB 17.6 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 4)) (3.1.5)
Collecting haversine (from -r requirements.txt (line 5))
  Downloading haversine-2.9.0-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: matplotlib>=3.9.2 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 8)) (3.10.0)
Requirement already satisfied: seaborn>=0.13.2 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 9)) (0.13.2)
Requirement already satisfied: plotly>=5.24.1 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 10)) (5.24.1)
Requirement already satisfied: scikit-learn>=1.5.2 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 13)) (1.6.1)
Requirement already satisfied: scipy>=1.14.1 in /opt/anaconda3/lib/python3.13/site-packages (from -r requirements.txt (line 14)) (1.15.3)
Collecting xgboost>=2.1.1 (from -r requirements.txt (line 15))
  Downloading xgboost-3.0.5-py3-none-macosx_12_0_arm64.whl.metadata (2.1 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.13/site-packages (from openpyxl->-r requirements.txt (line 4)) (1.1.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib>=3.9.2->-r requirements.txt (line 8)) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from plotly>=5.24.1->-r requirements.txt (line 10)) (9.0.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.5.2->-r requirements.txt (line 13)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn>=1.5.2->-r requirements.txt (line 13)) (3.5.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.17.0)
Downloading haversine-2.9.0-py2.py3-none-any.whl (7.7 kB)
Downloading xgboost-3.0.5-py3-none-macosx_12_0_arm64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 23.4 MB/s eta 0:00:00
Building wheels for collected packages: numpy
  Building wheel for numpy (pyproject.toml) ... done
  Created wheel for numpy: filename=numpy-1.26.4-cp313-cp313-macosx_15_0_arm64.whl size=4728926 sha256=1e25880a953423f57efd6e69042bd41a41dfaef9ab43a317c0bd836c3a7eb40e
  Stored in directory: /Users/mikevanrhene/Library/Caches/pip/wheels/8b/2d/9f/b6b46373f328e2ef50388915d351ccacbedac929459b5459bf
Successfully built numpy
Installing collected packages: numpy, haversine, xgboost
  Attempting uninstall: numpy
    Found existing installation: numpy 2.1.3
    Uninstalling numpy-2.1.3:
      Successfully uninstalled numpy-2.1.3
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [xgboost]m2/3 [xgboost]
Successfully installed haversine-2.9.0 numpy-1.26.4 xgboost-3.0.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
# General
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from haversine import haversine, Unit
import re

# Visualisations
import matplotlib.pyplot as pltå
import seaborn as sns
import plotly.express as px
import matplotlib.ticker as mtick

# Machine Learning
from sklearn.model_selection import train_test_split, cross_val_score, KFold, cross_val_predict
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
from scipy.stats import ttest_rel, wilcoxon, pearsonr
from sklearn.ensemble import IsolationForest
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import hstack

# Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
magic_number = sum([ord(x) for x in "Make Moni Flow"])

SEED = magic_number
TEST_SIZE = 0.2
RANDOM_STATE = magic_number
print(magic_number)

1257

In [4]:
raw_data = "./src/Baks Logistiek - 2025.xlsx"
dataset = pd.read_excel(raw_data)
dataset.head()

,Dossiernr,Volgnr,Referentie,Zendingsoort,Klaar voor factuur,Totaalbedrag,Extra kosten bedrag,Brandstoftoesl. extra kosten,Brandstoftoeslag bedrag,Bedrag excl.,...,Duur laden,Calculatie gewicht,Eindtijd lossen,Einddatum laden,Eindtijd laden,Einddatum lossen,Startdatum lossen,Starttijd lossen,Startdatum laden,Starttijd laden
0,551801,1,NaN,2 - Factuur akkoord,Ja,997.19,312.40,NaN,73.37,611.42,...,30.0,33.10,1900-01-01 12:45:01,2025-01-01,1900-01-01 05:45:01,2025-01-01,2025-01-01,1900-01-01 09:11:06,2025-01-01,1900-01-01 05:15:23
1,552062,1,NaN,2 - Factuur akkoord,Ja,1027.70,275.00,NaN,80.65,672.05,...,53.0,NaN,1900-01-01 13:20:56,2025-01-01,1900-01-01 09:46:02,2025-01-01,2025-01-01,1900-01-01 11:06:19,2025-01-01,1900-01-01 08:53:07
2,552063,1,NaN,2 - Factuur akkoord,Ja,1020.98,275.00,NaN,73.93,672.05,...,64.0,NaN,1900-01-01 11:54:21,2025-01-01,1900-01-01 08:03:03,2025-01-01,2025-01-01,1900-01-01 09:28:01,2025-01-01,1900-01-01 06:59:18
3,552076,1,NaN,2 - Factuur akkoord,Ja,2033.90,NaN,NaN,184.90,1849.00,...,107.0,25.52,1900-01-01 20:13:33,2024-12-31,1900-01-01 08:54:39,2024-12-31,2024-12-31,1900-01-01 19:11:03,2024-12-31,1900-01-01 07:07:43
4,552090,1,6100057971,2 - Factuur akkoord,Ja,863.01,226.87,NaN,63.04,573.10,...,177.0,34.86,1900-01-01 14:03:57,2025-01-01,1900-01-01 11:31:20,2025-01-01,2025-01-01,1900-01-01 12:53:02,2025-01-01,1900-01-01 08:34:36

---

# **5.0 - Dataset Cleaning**

---

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38551 entries, 0 to 38550
Columns: 136 entries, Dossiernr to Starttijd laden
dtypes: datetime64[ns](20), float64(52), int64(7), object(57)
memory usage: 40.0+ MB

In [6]:
dataset.describe()

,Dossiernr,Volgnr,Totaalbedrag,Extra kosten bedrag,Brandstoftoesl. extra kosten,Brandstoftoeslag bedrag,Bedrag excl.,Eenheidsprijs,Vaste prijs,% Droge stof,...,Duur laden,Calculatie gewicht,Eindtijd lossen,Einddatum laden,Eindtijd laden,Einddatum lossen,Startdatum lossen,Starttijd lossen,Startdatum laden,Starttijd laden
count,38551.000000,38551.000000,36823.000000,19090.000000,3588.000000,28134.000000,36343.000000,16291.000000,20080.000000,8893.000000,...,34527.000000,35596.000000,34908,34695,34692,34908,34872,34871,34584,34577
mean,573409.614770,1.146352,719.992897,157.072635,20.448768,65.069750,594.319369,18.093250,648.203013,16.701792,...,80.068121,28.026965,1900-01-01 13:22:58.398246656,2025-04-30 05:55:59.066148096,1900-01-01 12:51:26.127262720,2025-04-30 15:27:02.413200640,2025-04-30 16:02:23.702684160,1900-01-01 12:15:51.479165952,2025-04-30 11:20:16.655100672,1900-01-01 11:38:03.864852224
min,174567.000000,1.000000,-2839.340000,-443.800000,0.000000,-345.050000,-2156.570000,-85.240000,-2141.230000,0.000000,...,0.000000,-35.480000,1900-01-01 00:00:00,2010-01-01 00:00:00,1900-01-01 00:00:00,2010-01-02 00:00:00,2010-01-02 00:00:00,1900-01-01 00:00:00,2010-01-02 00:00:00,1900-01-01 00:00:00
25%,562918.000000,1.000000,388.820000,20.000000,14.880000,33.470000,330.480000,9.850000,340.937500,4.800000,...,51.000000,24.540000,1900-01-01 10:16:10.750000128,2025-03-05 00:00:00,1900-01-01 09:33:56.500000,2025-03-05 00:00:00,2025-03-05 00:00:00,1900-01-01 09:00:21.500000,2025-03-05 00:00:00,1900-01-01 08:18:32
50%,573481.000000,1.000000,577.610000,87.500000,20.250000,57.280000,495.000000,13.450000,575.000000,11.120000,...,68.000000,28.260000,1900-01-01 13:14:05,2025-04-30 00:00:00,1900-01-01 12:36:45,2025-04-30 00:00:00,2025-04-30 00:00:00,1900-01-01 12:05:33,2025-04-30 00:00:00,1900-01-01 11:21:15
75%,583879.500000,1.000000,859.295000,176.240000,25.910000,81.750000,712.790000,20.400000,775.000000,27.420000,...,93.000000,34.034500,1900-01-01 16:16:35.750000128,2025-06-27 00:00:00,1900-01-01 15:55:41.500000,2025-06-27 00:00:00,2025-06-27 00:00:00,1900-01-01 15:12:27.500000,2025-06-27 00:00:00,1900-01-01 14:37:23
max,594713.000000,18.000000,63292.190000,62667.190000,225.270000,741.950000,6745.000000,895.000000,6745.000000,99.000000,...,17259.000000,35000.000000,1900-01-01 23:59:08,2025-08-27 00:00:00,1900-01-01 23:59:26,2025-08-27 00:00:00,2025-08-27 00:00:00,1900-01-01 23:59:46,2025-08-27 00:00:00,1900-01-01 23:57:14
std,12522.573516,0.556865,661.553237,578.117963,10.956177,50.144001,453.613125,16.110707,515.708588,13.503690,...,140.814749,185.550795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dataset.memory_usage()

Index                   132
Dossiernr            308408
Volgnr               308408
Referentie           308408
Zendingsoort         308408
                      ...
Einddatum lossen     308408
Startdatum lossen    308408
Starttijd lossen     308408
Startdatum laden     308408
Starttijd laden      308408
Length: 137, dtype: int64

In [8]:
def feature_summary(df):
    summary = pd.DataFrame({
        'Feature': df.columns,
        'Num_Unique': df.nunique(),
        'Num_Missing': df.isna().sum()
    }).reset_index(drop=True)
    summary = summary.sort_values(by='Num_Missing', ascending=False).reset_index(drop=True)
    return summary

feature_summary(dataset)

                             Feature  Num_Unique  Num_Missing
0    Coördinaten laadadres handmatig           0        38551
1              Kritische nippelklant           0        38551
2                 Chauffeur laadinfo           0        38551
3     Coördinaten losadres handmatig           0        38551
4             Afwijkend tariefaantal           0        38551
..                               ...         ...          ...
131                            Legnr       38551            0
132                      Departement           2            0
133                             Week          35            0
134                           Volgnr          18            0
135                        Dossiernr       34735            0

[136 rows x 3 columns]

Dataset

In [9]:
data = dataset[['Dossiernr', 'Calculatie gewicht', 'Duur laden', 'Duur lossen', 'Routeberek. resultaat', 'ADR-zending', 'Productomschrijving', 'Financiële datum', 'Artikel merken/nrs.', 'Brandstoftoeslag percentage', 'Gepl. losdatum/tijd', 'Gepl. laaddatum/tijd', 'Aangemaakt op', 'Kosten', 'Losinfo chauffeur', 'Laadinfo chauffeur', 'Losopmerkingen', 'Laadopmerkingen', '# afwijkingen', 'Tariefeenheid', 'Tariefaantal', 'Gewicht', 'Interne opmerkingen', 'Product', 'Afstand', 'Eenheid', 'Aantal', 'Losland', 'Lostijd', 'Losdatum', 'Losplaats', 'Losnaam', 'Laadland', 'Laadtijd', 'Laaddatum', 'Laadplaats', 'Laadnaam', 'Opdrachtgever', 'Losgewicht', 'Laadgewicht', 'Vaste prijs', 'Eenheidsprijs', 'Bedrag excl.', 'Brandstoftoeslag bedrag', 'Brandstoftoesl. extra kosten', 'Extra kosten bedrag', 'Totaalbedrag', 'Breedtegraad laadadres', 'Breedtegraad losadres', 'Lengtegraad laadadres', 'Lengtegraad losadres']]

Referentieset

In [10]:
referentie = dataset[['Oorspr. zendingnr', 'Cargonr', 'EDI referentie', 'Legnr', 'Contactpersoon', 'Factuurnr', 'Laadadres2', 'Losadres2', 'Losadres1', 'Departement', 'Crediteur lossen', 'Trailer lossen', 'Truck lossen', 'Crediteur laden', 'Factuurcode', 'Factuurmethode', 'Gecontroleerd', 'CMR printen', 'Ritnr lossen', 'CMR nr.', 'Laadreferentie', 'Dossiernr']]

In [11]:
data.head(20)

,Dossiernr,Calculatie gewicht,Duur laden,Duur lossen,Routeberek. resultaat,ADR-zending,Productomschrijving,Financiële datum,Artikel merken/nrs.,Brandstoftoeslag percentage,...,Eenheidsprijs,Bedrag excl.,Brandstoftoeslag bedrag,Brandstoftoesl. extra kosten,Extra kosten bedrag,Totaalbedrag,Breedtegraad laadadres,Breedtegraad losadres,Lengtegraad laadadres,Lengtegraad losadres
0,551801,33.10,30.0,214.0,Ok,Ja,Wei proteine concentraat,2025-01-01,Wei proteine concentraat,12.0,...,NaN,611.42,73.37,NaN,312.40,997.19,51.616480,52.117520,5.527540,6.528160
1,552062,NaN,53.0,134.0,Ok,NaN,NaN,2025-01-01,NaN,12.0,...,NaN,672.05,80.65,NaN,275.00,1027.70,52.976005,52.385780,5.454931,5.791300
2,552063,NaN,64.0,146.0,Ok,NaN,NaN,2025-01-01,NaN,11.0,...,NaN,672.05,73.93,NaN,275.00,1020.98,52.976005,52.385780,5.454931,5.791300
3,552076,25.52,107.0,62.0,Ok,Ja,WPC 65,2025-01-01,WPC 65,10.0,...,NaN,1849.00,184.90,NaN,NaN,2033.90,52.976005,56.049790,5.454931,8.668610
4,552090,34.86,177.0,70.0,Ok,NaN,Magere melk,2025-01-01,Magere melk,11.0,...,NaN,573.10,63.04,NaN,226.87,863.01,51.549180,51.831100,5.852160,4.951370
5,552091,34.84,185.0,104.0,Ok,NaN,Magere melk,2025-01-01,Magere melk,11.0,...,NaN,573.10,63.04,NaN,201.22,837.36,51.549180,51.831100,5.852160,4.951370
6,552092,35.68,152.0,115.0,Ok,NaN,Magere melk,2025-01-01,Magere melk,11.0,...,NaN,573.10,63.04,NaN,197.72,833.86,51.549180,51.831100,5.852160,4.951370
7,552106,35.18,69.0,103.0,Ok,NaN,NaN,2025-01-01,NaN,12.0,...,NaN,535.00,64.20,NaN,309.80,909.00,51.922260,52.895120,5.115940,5.646490
8,552107,35.42,59.0,135.0,Ok,NaN,NaN,2025-01-01,NaN,12.0,...,NaN,535.00,64.20,NaN,149.80,749.00,51.922260,52.895120,5.115940,5.646490
9,552111,NaN,88.0,74.0,Ok,Ja,NaN,2025-01-01,NaN,12.0,...,NaN,970.00,116.40,27.72,662.60,1776.72,50.913860,52.895120,2.909990,5.646490
10,552178,25.22,52.0,93.0,Ok,NaN,Room,2025-01-01,Room,11.0,...,NaN,2312.59,254.38,NaN,647.53,3214.50,51.831100,48.056910,4.951370,12.186640
11,552246,32.18,67.0,54.0,Ok,Ja,NaN,2025-01-01,NaN,12.0,...,NaN,371.25,44.55,NaN,148.50,564.30,52.619010,53.239950,6.191560,7.108490
12,552275,NaN,104.0,129.0,Ok,NaN,NaN,2025-01-01,NaN,10.0,...,NaN,762.00,76.20,61.60,1745.00,2644.80,52.164480,53.170680,6.423530,6.256920
13,552330,24.66,123.0,286.0,Ok,NaN,Koe room,2025-01-01,Koe room,0.0,...,NaN,1880.00,NaN,NaN,1071.86,2951.86,54.398500,53.117550,9.854960,7.992880
14,552401,33.82,56.0,70.0,Ok,Ja,NaN,2025-01-01,NaN,12.0,...,11.25,380.48,45.66,NaN,152.19,578.33,52.619010,53.232490,6.191560,7.079120
15,552426,25.06,98.0,39.0,Ok,Ja,NaN,2025-01-01,NaN,12.0,...,20.34,509.72,61.17,NaN,203.89,774.78,52.976005,53.084046,5.454931,7.208863
16,552427,25.34,179.0,82.0,Ok,NaN,Magere melkconcentraat koe,2025-01-01,Magere melkconcentraat koe,0.0,...,NaN,1180.00,NaN,NaN,445.65,1625.65,51.898290,53.278500,6.974930,9.307140
17,552429,29.30,69.0,42.0,Ok,Ja,NaN,2025-01-01,NaN,12.0,...,NaN,302.94,36.35,NaN,121.18,460.47,51.055830,51.622340,5.824020,5.765000
18,552433,31.02,107.0,48.0,Ok,Ja,NaN,2025-01-01,NaN,12.0,...,NaN,253.44,30.41,NaN,107.27,391.12,51.055830,51.446540,5.824020,5.669590
19,552509,25.20,136.0,95.0,Ok,NaN,Koe room,2025-01-01,Koe room,0.0,...,NaN,1920.00,NaN,NaN,643.60,2563.60,54.393350,53.117550,8.982820,7.992880

CIP Laden & CIP Lossen

In [12]:
# data["CIP Laden"] = data["CIP Laden"].fillna("Nee")
# data["CIP Lossen"] = data["CIP Lossen"].fillna("Nee")
# data[["CIP Laden", "CIP Lossen"]]

Afleverstatus

In [13]:
# print(data["Afleverstatus"].unique())
# data = pd.get_dummies(data, columns=["Afleverstatus"])

#data.drop(["Afleverstatus"], axis=1, inplace=True)

Calculatie Gewicht

In [14]:
data["Calculatie gewicht"] = data["Calculatie gewicht"] * 1000
data["Calculatie gewicht"].fillna(data["Laadgewicht"], inplace=True)

ADR-zending

In [15]:
data["ADR-zending"].fillna("Nee", inplace=True)

Kosten

In [16]:
data["Kosten"].fillna(0, inplace=True)

Brandstoftoeslag percentage

In [17]:
data["Brandstoftoeslag percentage"].fillna(0, inplace=True)

afwijkingen

In [18]:
data["# afwijkingen"].fillna(0, inplace=True)
data.rename(columns={"# afwijkingen": "afwijking_vracht"}, inplace=True)

CMR Ontvangen & CMR bij factuur

In [19]:
# data["CMR ontvangen"].fillna("Nee", inplace=True)
# data["CMR bij factuur"].fillna("Nee", inplace=True)

Losland & laadland

In [20]:
data["Losland"].unique()
missing_count = data["Losland"].isna().sum()
print("Missing: ", missing_count)
data["Losland"].fillna("Onbekend", inplace=True)
data = pd.get_dummies(data, columns=["Losland"])

Missing:  295

In [21]:
data["Laadland"].unique()
missing_count = data["Laadland"].isna().sum()
print("Laadland: ", missing_count)
data["Laadland"].fillna("Onbekend", inplace=True)
data = pd.get_dummies(data, columns=["Laadland"])

Laadland:  117

---

# **6.0 - Feature Engineering**

---

Afwijkingen in Gewicht

In [22]:
data["afwijking_gewicht"] = data["Laadgewicht"] - data["Losgewicht"]


data["afwijking_gewicht"] = np.where(
    (data["afwijking_gewicht"].abs() >= data["Laadgewicht"] * 0.95) |
    (data["afwijking_gewicht"].abs() >= data["Losgewicht"] * 0.95),
    0, data["afwijking_gewicht"])

print(data["afwijking_gewicht"].describe())
data["afwijking_gewicht"].head(200)

data.drop(columns=["Laadgewicht", "Losgewicht"])

count    35428.000000
mean        58.962741
std        911.024297
min     -13720.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      17100.000000
Name: afwijking_gewicht, dtype: float64

,Dossiernr,Calculatie gewicht,Duur laden,Duur lossen,Routeberek. resultaat,ADR-zending,Productomschrijving,Financiële datum,Artikel merken/nrs.,Brandstoftoeslag percentage,...,Laadland_AT,Laadland_BE,Laadland_DE,Laadland_ES,Laadland_FR,Laadland_IT,Laadland_NL,Laadland_Onbekend,Laadland_SE,afwijking_gewicht
0,551801,33100.0,30.0,214.0,Ok,Ja,Wei proteine concentraat,2025-01-01,Wei proteine concentraat,12.0,...,False,False,False,False,False,False,True,False,False,0.0
1,552062,33100.0,53.0,134.0,Ok,Nee,NaN,2025-01-01,NaN,12.0,...,False,False,False,False,False,False,True,False,False,0.0
2,552063,33140.0,64.0,146.0,Ok,Nee,NaN,2025-01-01,NaN,11.0,...,False,False,False,False,False,False,True,False,False,0.0
3,552076,25520.0,107.0,62.0,Ok,Ja,WPC 65,2025-01-01,WPC 65,10.0,...,False,False,False,False,False,False,True,False,False,60.0
4,552090,34860.0,177.0,70.0,Ok,Nee,Magere melk,2025-01-01,Magere melk,11.0,...,False,False,False,False,False,False,True,False,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38546,593957,NaN,NaN,NaN,Ok,Ja,Wei proteine concentraat,2025-08-31,NaN,11.0,...,False,False,False,False,False,False,True,False,False,NaN
38547,594024,35000.0,NaN,NaN,Ok,Nee,Magere melk,2025-08-31,NaN,11.0,...,False,False,False,False,False,False,True,False,False,NaN
38548,594025,35000.0,NaN,NaN,Ok,Nee,Magere melk,2025-08-31,NaN,11.0,...,False,False,False,False,False,False,True,False,False,NaN
38549,594322,NaN,NaN,NaN,Ok,Nee,NaN,2025-08-31,NaN,0.0,...,False,False,False,False,False,False,True,False,False,NaN
38550,594707,35000.0,NaN,NaN,Ok,Ja,NaN,2025-08-31,NaN,12.0,...,False,False,False,False,False,False,True,False,False,NaN

Route Haversine

In [23]:
def calculate_haversine(row):
    start = (row['Breedtegraad laadadres'], row['Lengtegraad laadadres'])
    end = (row['Breedtegraad losadres'], row['Lengtegraad losadres'])
    return haversine(start, end, unit=Unit.KILOMETERS)

data['afstand_haversine'] = data.apply(calculate_haversine, axis=1)
data.drop(labels=['Breedtegraad laadadres', 'Lengtegraad laadadres', 'Breedtegraad losadres', 'Lengtegraad losadres'], axis=1, inplace=True)

In [24]:
data["afwijking_afstand"] = data["Afstand"].fillna(0) - data["afstand_haversine"]
data["afwijking_afstand"].describe()

count    38233.000000
mean        49.704842
std         47.671780
min        -37.004435
25%         23.585372
50%         38.815658
75%         56.482889
max        428.106879
Name: afwijking_afstand, dtype: float64

Binary Encoding

In [25]:
def convert_yes_no_to_binary(df):
    yes_no_map = {'yes': True, 'no': False, 'ja': True, 'nee': False}
    for col in df.columns:
        if df[col].dtype == object:
            unique_vals = df[col].dropna().str.lower().unique()
            if set(unique_vals).issubset(yes_no_map.keys()):
                df[col] = df[col].str.lower().map(yes_no_map)
    return df

data = convert_yes_no_to_binary(data)

Datatypes

In [26]:

def optimize_numeric_floats(df):
    start_mem = df.memory_usage(deep=True).sum() / 1024**2
    for col in df.select_dtypes(include=[np.number]).columns:
        col_data = df[col]
        if np.issubdtype(col_data.dtype, np.integer):
            df[col] = pd.to_numeric(col_data, downcast='integer')
        elif np.issubdtype(col_data.dtype, np.floating):
            if col_data.min() >= np.finfo(np.float16).min and col_data.max() <= np.finfo(np.float16).max:
                df[col] = col_data.astype(np.float16)
            else:
                df[col] = col_data.astype(np.float32)
    end_mem = df.memory_usage(deep=True).sum() / 1024**2
    print(f"Memory usage reduced from {start_mem:.2f} MB to {end_mem:.2f} MB")
    print(df.dtypes)
    return df

data = optimize_numeric_floats(data)

Memory usage reduced from 58.84 MB to 54.06 MB
Dossiernr                  int32
Calculatie gewicht       float32
Duur laden               float16
Duur lossen              float16
Routeberek. resultaat     object
                          ...
Laadland_Onbekend           bool
Laadland_SE                 bool
afwijking_gewicht        float16
afstand_haversine        float16
afwijking_afstand        float16
Length: 70, dtype: object

---

# **7.0 - Clean Dataset Summary**

---

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38551 entries, 0 to 38550
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Dossiernr                     38551 non-null  int32
 1   Calculatie gewicht            38170 non-null  float32
 2   Duur laden                    34527 non-null  float16
 3   Duur lossen                   34827 non-null  float16
 4   Routeberek. resultaat         38551 non-null  object
 5   ADR-zending                   38551 non-null  bool
 6   Productomschrijving           16870 non-null  object
 7   Financiële datum              38551 non-null  datetime64[ns]
 8   Artikel merken/nrs.           15541 non-null  object
 9   Brandstoftoeslag percentage   38551 non-null  float16
 10  Gepl. losdatum/tijd           36036 non-null  datetime64[ns]
 11  Gepl. laaddatum/tijd          36037 non-null  datetime64[ns]
 12  Aangemaakt op                 38551 non-null  datetime64[ns]
 13  Kosten                        38551 non-null  float16
 14  Losinfo chauffeur             25200 non-null  object
 15  Laadinfo chauffeur            27790 non-null  object
 16  Losopmerkingen                21749 non-null  object
 17  Laadopmerkingen               26697 non-null  object
 18  afwijking_vracht              38551 non-null  float16
 19  Tariefeenheid                 38551 non-null  object
 20  Tariefaantal                  38382 non-null  float16
 21  Gewicht                       38359 non-null  float32
 22  Interne opmerkingen           72 non-null     object
 23  Product                       38457 non-null  object
 24  Afstand                       38380 non-null  float16
 25  Eenheid                       38468 non-null  object
 26  Aantal                        38400 non-null  float32
 27  Lostijd                       32993 non-null  datetime64[ns]
 28  Losdatum                      38545 non-null  datetime64[ns]
 29  Losplaats                     38251 non-null  object
 30  Losnaam                       38274 non-null  object
 31  Laadtijd                      36928 non-null  datetime64[ns]
 32  Laaddatum                     38551 non-null  datetime64[ns]
 33  Laadplaats                    38429 non-null  object
 34  Laadnaam                      38410 non-null  object
 35  Opdrachtgever                 38551 non-null  object
 36  Losgewicht                    35491 non-null  float16
 37  Laadgewicht                   35650 non-null  float16
 38  Vaste prijs                   20080 non-null  float16
 39  Eenheidsprijs                 16291 non-null  float16
 40  Bedrag excl.                  36343 non-null  float16
 41  Brandstoftoeslag bedrag       28134 non-null  float16
 42  Brandstoftoesl. extra kosten  3588 non-null   float16
 43  Extra kosten bedrag           19090 non-null  float16
 44  Totaalbedrag                  36823 non-null  float16
 45  Losland_AT                    38551 non-null  bool
 46  Losland_BE                    38551 non-null  bool
 47  Losland_CH                    38551 non-null  bool
 48  Losland_CZ                    38551 non-null  bool
 49  Losland_DE                    38551 non-null  bool
 50  Losland_DK                    38551 non-null  bool
 51  Losland_ES                    38551 non-null  bool
 52  Losland_FR                    38551 non-null  bool
 53  Losland_IT                    38551 non-null  bool
 54  Losland_NL                    38551 non-null  bool
 55  Losland_Onbekend              38551 non-null  bool
 56  Losland_PL                    38551 non-null  bool
 57  Losland_SE                    38551 non-null  bool
 58  Laadland_AT                   38551 non-null  bool
 59  Laadland_BE                   38551 non-null  bool
 60  Laadland_DE                   38551 non-null  bool
 61  Laadland_ES                   38551 non-null  bool
 62  Laadland_FR                   38551 non-null  bool
 63  Laadland_IT                   38551 non-null  bool
 64  Laadland_NL                   38551 non-null  bool
 65  Laadland_Onbekend             38551 non-null  bool
 66  Laadland_SE                   38551 non-null  bool
 67  afwijking_gewicht             35428 non-null  float16
 68  afstand_haversine             38233 non-null  float16
 69  afwijking_afstand             38233 non-null  float16
dtypes: bool(23), datetime64[ns](8), float16(19), float32(3), int32(1), object(16)
memory usage: 9.9+ MB

In [28]:
data.describe()

,Dossiernr,Calculatie gewicht,Duur laden,Duur lossen,Financiële datum,Brandstoftoeslag percentage,Gepl. losdatum/tijd,Gepl. laaddatum/tijd,Aangemaakt op,Kosten,...,Vaste prijs,Eenheidsprijs,Bedrag excl.,Brandstoftoeslag bedrag,Brandstoftoesl. extra kosten,Extra kosten bedrag,Totaalbedrag,afwijking_gewicht,afstand_haversine,afwijking_afstand
count,38551.000000,3.817000e+04,34527.0,34827.0,38551,3.855100e+04,36036,36037,38551,38551.00,...,20080.0,1.629100e+04,36343.0,28134.00000,3588.000000,19090.00,36823.00,35428.0,38233.0000,3.823300e+04
mean,573409.614770,2.776058e+04,inf,inf,2025-05-02 01:13:59.791444992,inf,2025-05-01 15:22:07.250582784,2025-05-01 03:33:26.911896064,2025-04-27 23:52:41.081165312,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
min,174567.000000,-3.548000e+04,0.0,0.0,2025-01-01 00:00:00,-3.429688e+00,2010-01-02 03:34:05,2010-01-01 08:14:29,2024-10-08 14:22:49,0.00,...,-2142.0,-8.525000e+01,-2156.0,-345.00000,0.000000,-443.75,-2840.00,-13720.0,0.0000,-3.700000e+01
25%,562918.000000,2.442000e+04,51.0,35.0,2025-03-05 00:00:00,3.810547e+00,2025-03-05 11:21:33.500000,2025-03-05 06:43:03,2025-02-28 12:02:00,172.75,...,341.0,9.851562e+00,330.5,33.46875,14.882812,20.00,388.75,0.0,64.2500,2.357812e+01
50%,573481.000000,2.774000e+04,68.0,54.0,2025-05-02 00:00:00,1.100000e+01,2025-05-01 07:38:46,2025-04-30 15:24:00,2025-04-28 10:48:42,425.50,...,575.0,1.345312e+01,495.0,57.28125,20.250000,87.50,577.50,0.0,98.1875,3.881250e+01
75%,583879.500000,3.396000e+04,93.0,88.0,2025-06-30 00:00:00,1.379688e+01,2025-06-30 08:52:55,2025-06-29 13:39:43,2025-06-26 10:56:12.500000,732.50,...,775.0,2.040625e+01,713.0,81.75000,25.906250,176.25,859.50,0.0,171.6250,5.646875e+01
max,594713.000000,3.500000e+07,17264.0,7200.0,2025-08-31 00:00:00,2.000000e+01,2025-09-01 01:30:00,2025-09-01 00:00:00,2025-08-27 12:31:50,6500.00,...,6744.0,8.950000e+02,6744.0,742.00000,225.250000,62656.00,63296.00,17104.0,1343.0000,4.280000e+02
std,12522.573516,1.791793e+05,inf,inf,NaN,6.308594e+00,NaN,NaN,NaN,inf,...,inf,inf,inf,inf,10.953125,inf,inf,inf,inf,inf

In [29]:
data.memory_usage()

Index                    132
Dossiernr             154204
Calculatie gewicht    154204
Duur laden             77102
Duur lossen            77102
                       ...
Laadland_Onbekend      38551
Laadland_SE            38551
afwijking_gewicht      77102
afstand_haversine      77102
afwijking_afstand      77102
Length: 71, dtype: int64

In [30]:
feature_summary(data)

                         Feature  Num_Unique  Num_Missing
0            Interne opmerkingen          26        38479
1   Brandstoftoesl. extra kosten         336        34963
2            Artikel merken/nrs.         738        23010
3                  Eenheidsprijs         765        22260
4            Productomschrijving         753        21681
..                           ...         ...          ...
65                    Losland_BE           2            0
66                    Losland_CH           2            0
67                    Losland_CZ           2            0
68                    Losland_DE           2            0
69                 Opdrachtgever         173            0

[70 rows x 3 columns]

In [ ]:
def compare_dataframes(df_raw, df_cleaned):
    dropped = set(df_raw.columns) - set(df_cleaned.columns)
    added = set(df_cleaned.columns) - set(df_raw.columns)
    print("Dropped columns:", dropped)
    print("Added columns:", added)
    common_cols = df_raw.columns.intersection(df_cleaned.columns)
    diff_summary = []
    for col in common_cols:
        raw_dtype = df_raw[col].dtype
        clean_dtype = df_cleaned[col].dtype
        missing_raw = df_raw[col].isna().sum()
        missing_clean = df_cleaned[col].isna().sum()
        if np.issubdtype(df_raw[col].dtype, np.number) and np.issubdtype(df_cleaned[col].dtype, np.number):
            diff = (df_raw[col] - df_cleaned[col]).abs()
            max_diff = diff.max()
            mean_diff = diff.mean()
        else:
            max_diff = mean_diff = np.nan
        diff_summary.append({
            "column": col,
            "dtype_raw": raw_dtype,
            "dtype_cleaned": clean_dtype,
            "missing_raw": missing_raw,
            "missing_clean": missing_clean,
            "max_diff": max_diff,
            "mean_diff": mean_diff
        })
    summary_df = pd.DataFrame(diff_summary)
    print("\nComparison Summary:")
    print(summary_df)
    return summary_df
compare_dataframes(dataset, data)

Dropped columns: {'Handm.', 'Geochecksum laadadres', 'Legnr', 'Laadpostcode', 'Losland', '# afwijkingen', 'CMR printen', 'Afleverstatus opm.', 'Ritnr lossen', 'Laadland', 'Cargonr', 'Opvolgen', 'Breedtegraad losadres', 'Eindtijd lossen', 'Kritische nippelklant', 'Geochecksum losadres', 'Gepl. laadtijd', 'Brandstoftoeslag handmatig', 'Truck lossen', 'Laadtijd t/m', 'Startdatum laden', 'Ph waarde', 'Goederentariefmethode', 'Standaard opmerking', 'Temperatuur', 'Nippelklant', 'Chauffeur laadinfo', 'Status', '# Beschadigd', '% Droge stof', 'Volgnr', 'Mauttoeslag bedrag', 'Crediteur laden', 'Opvolgtype', 'Gecontroleerd', 'Starttijd lossen', 'Debiteur', 'Week', 'Eindtijd laden', 'Afleverstatus', 'Referentie', 'Startdatum lossen', 'Laadreferentie', 'Trailer lossen', 'Factuuropmerkingen', 'Losadres2', 'Breedtegraad laadadres', 'Oorspr. zendingnr', 'Eiwit', 'Dichtheid', 'Coördinaten losadres handmatig', 'EDI referentie', '# Manco', 'CMR nr.', 'Klaar voor factuur', 'Plangroep', 'Starttijd laden', 'CMR bij factuur', 'Laadadres2', 'Einddatum laden', 'Contactpersoon', 'Chauffeur lossen', 'Mauttoeslag afstand', 'Factuurcode', 'Geen autotarief', 'Meerdere zendingen', 'Afwijkend tariefaantal', 'Neutraal laadadres', 'CIP Lossen', 'Einddatum lossen', 'Losadres1', 'Crediteur lossen', 'Zendingsoort', 'Lengtegraad losadres', 'Ordersoort', 'Lostijd t/m', 'CMR ontvangen', 'Lengtegraad laadadres', 'Factuurmethode', 'TariffUnitAmountRO', 'Lospostcode', 'Coördinaten laadadres handmatig', 'Temp. t/m', 'Departement', 'CIP Laden', '# Geweigerd', 'Tol-afstand', 'Gepl. lostijd', 'Dossierreferentie', 'Chauffeur losinfo', 'Factuurnr', 'Afleverpoging'}
Added columns: {'Laadland_BE', 'afstand_haversine', 'Losland_DE', 'Laadland_FR', 'Laadland_IT', 'Losland_FR', 'Losland_PL', 'Losland_SE', 'Losland_BE', 'afwijking_gewicht', 'Laadland_SE', 'Losland_DK', 'Losland_ES', 'Laadland_ES', 'Laadland_NL', 'Losland_NL', 'afwijking_afstand', 'Losland_AT', 'Laadland_Onbekend', 'Laadland_AT', 'Losland_Onbekend', 'Laadland_DE', 'Losland_CZ', 'Losland_IT', 'afwijking_vracht', 'Losland_CH'}

Comparison Summary:
                          column       dtype_raw   dtype_cleaned  missing_raw  \
0                      Dossiernr           int64           int32            0
1                   Totaalbedrag         float64         float16         1728
2            Extra kosten bedrag         float64         float16        19461
3   Brandstoftoesl. extra kosten         float64         float16        34963
4        Brandstoftoeslag bedrag         float64         float16        10417
5                   Bedrag excl.         float64         float16         2208
6                  Eenheidsprijs         float64         float16        22260
7                    Vaste prijs         float64         float16        18471
8                    Laadgewicht         float64         float16         2901
9                     Losgewicht         float64         float16         3060
10                 Opdrachtgever          object          object            0
11                      Laadnaam          object          object          141
12                    Laadplaats          object          object          122
13                     Laaddatum  datetime64[ns]  datetime64[ns]            0
14                      Laadtijd  datetime64[ns]  datetime64[ns]         1623
15                       Losnaam          object          object          277
16                     Losplaats          object          object          300
17                      Losdatum  datetime64[ns]  datetime64[ns]            6
18                       Lostijd  datetime64[ns]  datetime64[ns]         5558
19                        Aantal         float64         float32          151
20                       Eenheid          object          object           83
21                       Afstand         float64         float16          171
22                       Product          object          object           94
23           Interne opmerkingen          object          object        38479
24                       Gewicht         float64         float32          192
25                  Tariefaantal         float64         float16          169
26                 Tariefeenheid          object          object            0
27               Laadopmerkingen          object          object        11854
28                Losopmerkingen          object          object        16802
29            Laadinfo chauffeur          object          object        10761
30             Losinfo chauffeur          object          object        13351
31                        Kosten         float64         float16         3040
32                 Aangemaakt op  datetime64[ns]  datetime64[ns]            0
33          Gepl. laaddatum/tijd  datetime64[ns]  datetime64[ns]         2514
34           Gepl. losdatum/tijd  datetime64[ns]  datetime64[ns]         2515
35   Brandstoftoeslag percentage         float64         float16         4163
36           Artikel merken/nrs.          object          object        23010
37              Financiële datum  datetime64[ns]  datetime64[ns]            0
38           Productomschrijving          object          object        21681
39                   ADR-zending          object            bool        29186
40         Routeberek. resultaat          object          object            0
41                   Duur lossen         float64         float16         3724
42                    Duur laden         float64         float16         4024
43            Calculatie gewicht         float64         float32         2955

    missing_clean      max_diff     mean_diff
0               0  0.000000e+00  0.000000e+00
1            1728  6.480000e+00  1.212803e-01
2           19461  1.119000e+01  1.743388e-02
3           34963  4.500000e-02  3.116225e-03
4           10417  1.200000e-01  1.108206e-02
5            2208  2.000000e+00  8.517321e-02
6           22260  3.500000e-02  2.477010e-03
7           18471  2.000000e+00  8.091494e-02
8            2901  1.600000e+01  5.075231e+00
9            3060  1.600000e+01  4.967259e+00
10              0           NaN           NaN
11            141           NaN           NaN
12            122           NaN           NaN
13              0           NaN           NaN
14           1623           NaN           NaN
15            277           NaN           NaN
16            300           NaN           NaN
17              6           NaN           NaN
18           5558           NaN           NaN
19            151  1.678467e-06  1.788874e-08
20             83           NaN           NaN
21            171  4.900000e-01  3.269605e-02
22             94           NaN           NaN
23          38479           NaN           NaN
24            192  9.155273e-07  3.348190e-09
25            169  1.600000e+01  5.373329e-03
26              0           NaN           NaN
27          11854           NaN           NaN
28          16802           NaN           NaN
29          10761           NaN           NaN
30          13351           NaN           NaN
31              0  2.000000e+00  9.972268e-02
32              0           NaN           NaN
33           2514           NaN           NaN
34           2515           NaN           NaN
35              0  3.750000e-03  3.475211e-04
36          23010           NaN           NaN
37              0           NaN           NaN
38          21681           NaN           NaN
39              0           NaN           NaN
40              0           NaN           NaN
41           3724  2.000000e+00  1.435668e-04
42           4024  5.000000e+00  2.027399e-04
43            381  3.496500e+07  2.800452e+04

,column,dtype_raw,dtype_cleaned,missing_raw,missing_clean,max_diff,mean_diff
0,Dossiernr,int64,int32,0,0,0.000000e+00,0.000000e+00
1,Totaalbedrag,float64,float16,1728,1728,6.480000e+00,1.212803e-01
2,Extra kosten bedrag,float64,float16,19461,19461,1.119000e+01,1.743388e-02
3,Brandstoftoesl. extra kosten,float64,float16,34963,34963,4.500000e-02,3.116225e-03
4,Brandstoftoeslag bedrag,float64,float16,10417,10417,1.200000e-01,1.108206e-02
5,Bedrag excl.,float64,float16,2208,2208,2.000000e+00,8.517321e-02
6,Eenheidsprijs,float64,float16,22260,22260,3.500000e-02,2.477010e-03
7,Vaste prijs,float64,float16,18471,18471,2.000000e+00,8.091494e-02
8,Laadgewicht,float64,float16,2901,2901,1.600000e+01,5.075231e+00
9,Losgewicht,float64,float16,3060,3060,1.600000e+01,4.967259e+00
10,Opdrachtgever,object,object,0,0,NaN,NaN
11,Laadnaam,object,object,141,141,NaN,NaN
12,Laadplaats,object,object,122,122,NaN,NaN
13,Laaddatum,datetime64[ns],datetime64[ns],0,0,NaN,NaN
14,Laadtijd,datetime64[ns],datetime64[ns],1623,1623,NaN,NaN
15,Losnaam,object,object,277,277,NaN,NaN
16,Losplaats,object,object,300,300,NaN,NaN
17,Losdatum,datetime64[ns],datetime64[ns],6,6,NaN,NaN
18,Lostijd,datetime64[ns],datetime64[ns],5558,5558,NaN,NaN
19,Aantal,float64,float32,151,151,1.678467e-06,1.788874e-08
20,Eenheid,object,object,83,83,NaN,NaN
21,Afstand,float64,float16,171,171,4.900000e-01,3.269605e-02
22,Product,object,object,94,94,NaN,NaN
23,Interne opmerkingen,object,object,38479,38479,NaN,NaN
24,Gewicht,float64,float32,192,192,9.155273e-07,3.348190e-09
25,Tariefaantal,float64,float16,169,169,1.600000e+01,5.373329e-03
26,Tariefeenheid,object,object,0,0,NaN,NaN
27,Laadopmerkingen,object,object,11854,11854,NaN,NaN
28,Losopmerkingen,object,object,16802,16802,NaN,NaN
29,Laadinfo chauffeur,object,object,10761,10761,NaN,NaN
30,Losinfo chauffeur,object,object,13351,13351,NaN,NaN
31,Kosten,float64,float16,3040,0,2.000000e+00,9.972268e-02
32,Aangemaakt op,datetime64[ns],datetime64[ns],0,0,NaN,NaN
33,Gepl. laaddatum/tijd,datetime64[ns],datetime64[ns],2514,2514,NaN,NaN
34,Gepl. losdatum/tijd,datetime64[ns],datetime64[ns],2515,2515,NaN,NaN
35,Brandstoftoeslag percentage,float64,float16,4163,0,3.750000e-03,3.475211e-04
36,Artikel merken/nrs.,object,object,23010,23010,NaN,NaN
37,Financiële datum,datetime64[ns],datetime64[ns],0,0,NaN,NaN
38,Productomschrijving,object,object,21681,21681,NaN,NaN
39,ADR-zending,object,bool,29186,0,NaN,NaN
40,Routeberek. resultaat,object,object,0,0,NaN,NaN
41,Duur lossen,float64,float16,3724,3724,2.000000e+00,1.435668e-04
42,Duur laden,float64,float16,4024,4024,5.000000e+00,2.027399e-04
43,Calculatie gewicht,float64,float32,2955,381,3.496500e+07,2.800452e+04